.principal {
    background-color: $colorPrincipal;
    color: $colorSecundario;
    h2 {
        font-size: 38px;
    }
    p {
        font-size: large;
    }
    img {
        width: 400px;
        height: 600px;
    }



}